<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Act Nou</title>
    <style th:replace="/fragments/general.html :: style"></style>
</head>
<body>
<div align="center">
    <div th:replace="/fragments/general.html :: header"></div>
    <h1>Adăugați un act nou</h1>
    <br/>
    <form action="#" th:action="@{/acte/save}" th:object="${acte}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Durata:</td>
                <td><input type="number" th:field="*{durata}" /></td>
            </tr>
            <tr>
                <td>ID Piesa Teatru Regizor:</td>
                <td><input type="number" th:field="*{id_piesa_teatru_regizor}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Salvează</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
