<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Noua Reprezentatie</title>
    <style th:replace="/fragments/general.html :: style"></style>
</head>
<body>
<div align="center">
    <div th:replace="/fragments/general.html :: header"> </div>
    <h1>Adauga Noua Reprezentatie</h1>
    <br />
    <form action="#" th:action="@{/reprezentatii/save}" th:object="${reprezentatie}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>ID Piesa Teatru Regizor:</td>
                <td><input type="number" th:field="*{id_piesa_teatru_regizor}" /></td>
            </tr>
            <tr>
                <td>Data si Ora Reprezentatiei:</td>
                <td><input type="datetime-local" th:field="*{data_ora_reprezentatie}" /></td>
            </tr>
            <tr>
                <td>Numar Locuri:</td>
                <td><input type="number" th:field="*{nr_locuri}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Salveaza</button> </td>
            </tr>
        </table>
    </form>
    <br />
    <a th:href="@{/reprezentatii}">Inapoi la Lista Reprezentatii</a>
</div>
</body>
</html>
