<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Inregistrare noua</title>
    <style th:replace="/fragments/general.html :: style"></style>
</head>
<body>
<div align="center">
    <div th:replace="/fragments/general.html :: header"> </div>
    <h1>Introduceti o noua legatura act-recuzita</h1>
    <br />
    <form action="#" th:action="@{/decoreaza/save}" th:object="${decor}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>ID act:</td>
                <td><input type="number" th:field="*{id_act}" /></td>
            </tr>
            <tr>
                <td>ID recuzita:</td>
                <td><input type="number" th:field="*{id_recuzita}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>