<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Recuzita noua</title>
    <style th:replace="/fragments/general.html :: style"></style>
</head>
<body>
<div align="center">
    <div th:replace="/fragments/general.html :: header"> </div>
    <h1>Introduceti o recuzita noua</h1>
    <br />
    <form action="#" th:action="@{/recuzita/save}" th:object="${recuzita}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
            <tr>
                <td>Denumire:</td>
                <td><input type="text" th:field="*{denumire}" /></td>
            </tr>
            <tr>
                <td>Culoare:</td>
                <td><input type="text" th:field="*{culoare}" /></td>
            </tr>
            <tr>
                <td>Greutate:</td>
                <td><input type="number" step="1" th:field="*{greutate}" /></td>
            </tr>
            <tr>
                <td>Inaltime:</td>
                <td><input type="number" step="1" th:field="*{inaltime}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>