<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Teatre</title>
    <style th:replace="/fragments/general.html :: style"></style>
</head>
<body>
<div align="center">
    <div th:replace="/fragments/general.html :: header"> </div>
    <h1>Teatru List</h1>
    <a href="/teatre/new">Adauga un nou teatru</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID Teatru</th>
            <th>Denumire</th>
            <th>Adresa</th>
            <th>ID Localitate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teatru : ${listTeatre}">
            <td th:text="${teatru.id_teatru}">ID Teatru</td>
            <td th:text="${teatru.denumire}">Denumire</td>
            <td th:text="${teatru.adresa}">Adresa</td>
            <td th:text="${teatru.id_localitate}">ID Localitate</td>
            <td>
                <a th:href="@{'/teatre/edit/' + ${teatru.id_teatru}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/teatre/delete/' + ${teatru.id_teatru}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
