<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Editare inregistrare</title>
    <style th:replace="/fragments/general.html :: style"></style>
</head>
<body>
<div align="center">
    <div th:replace="/fragments/general.html :: header"> </div>
    <h1>Editati inregistrarea</h1>
    <br />
    <form action="#" th:action="@{/melodie_orchestrant/update}" th:object="${mel_om}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>ID melodie:</td>
                <td><input type="number" th:field="*{id_melodie}" /></td>
            </tr>
            <tr>
                <td>ID orchestrant:</td>
                <td><input type="number" th:field="*{id_orchestrant}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>