<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Editeaza Localitatea</title>
    <style th:replace="/fragments/general.html :: style"></style>
</head>
<body>
<div align="center">
    <div th:replace="/fragments/general.html :: header"> </div>
    <h1>Editeaza Localitatea</h1>
    <br />
    <form action="#" th:action="@{/localitati/update}" th:object="${localitate}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>ID Localitate:</td>
                <td><input type="number" th:field="*{id_localitate}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Denumire:</td>
                <td><input type="text" th:field="*{denumire}" /></td>
            </tr>
            <tr>
                <td>ID Judet:</td>
                <td><input type="number" th:field="*{id_judet}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
